:root {
  --base-color: #333;
  --link-color: #999;
  --site-maxwidth: 100rem;
  --postgroup-item-width: 20rem;
  --fontsize-pagetitle: 6rem; }

/**
* Base styles
**/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

nav ul {
  list-style: none; }

img {
  display: block;
  max-width: 100%;
  width: auto; }

a {
  color: var(--link-color); }

html {
  font-size: 62.5%; }

body {
  color: var(--base-color);
  font: normal normal 160%/1.5 sans-serif; }

/**
* Components
**/
.post-title {
  font-size: var(--fontsize-pagetitle); }

.post-content {
  margin-bottom: 2rem; }

.postgroup {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--postgroup-item-width), 1fr));
  grid-auto-flow: dense; }
  .postgroup-item figure {
    padding-top: 100%;
    position: relative;
    overflow: hidden; }
  .postgroup-item img {
    object-fit: cover;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%; }
  .postgroup-item-title {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    padding: 2rem;
    color: white;
    transform: translateY(1rem);
    opacity: 0; }
  .postgroup-item img, .postgroup-item-title {
    transition: .15s ease; }
  .postgroup-item:hover img {
    filter: grayscale(100%) brightness(0.2);
    transform: scale(1.2); }
  .postgroup-item:hover .postgroup-item-title {
    transform: translateY(0);
    opacity: 1; }
  @media (min-width: 600px) {
    .postgroup-item:nth-child(1) {
      color: red;
      grid-column: 1 / span 2;
      grid-row: 1 / span 2; } }

/**
* Layout
**/
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  min-height: 20vh; }

.site-title {
  color: black;
  font-weight: bold;
  padding: 2rem;
  text-decoration: none; }

.site-nav ul {
  display: flex; }
.site-nav a {
  display: block;
  padding: 2rem;
  color: black;
  text-decoration: none; }

.site-container {
  width: auto;
  max-width: var(--site-maxwidth);
  margin: auto;
  padding: 2rem; }

.site-footer {
  padding: 2rem; }
