@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Maven+Pro|Contrail+One|Montserrat");
:root {
  --base-color: #333;
  --link-color: #333;
  --site-maxwidth: 120rem;
  --page-maxwidth: 80rem;
  --postgroup-item-width: 20rem;
  --fontsize-pagetitle: 6rem;
  --fontsize-suptitle: 1rem;
  --font-baseface: 'Montserrat', sans-serif;
  --font-headingface: 'Abril Fatface', sans-serif; }

/**
* Base styles
**/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

nav ul {
  list-style: none; }

img {
  display: block;
  max-width: 100%;
  width: auto; }

a {
  color: var(--link-color); }

html {
  font-size: 62.5%; }

body {
  color: var(--base-color);
  font: normal normal 160%/1.7 var(--font-baseface); }

h1, h2, h3 {
  font-weight: normal; }

p + p {
  margin-top: 1em; }

/**
* Components
**/
.post {
  padding: 2rem; }
  .post-header {
    text-align: center;
    margin-bottom: 4rem; }
  .post-date {
    display: block;
    font-size: var(--fontsize-suptitle);
    font-weight: bold;
    text-transform: uppercase; }
  .post-title {
    font-size: var(--fontsize-pagetitle);
    font-family: var(--font-headingface);
    line-height: 1.2; }
  .post-image {
    margin-bottom: 2rem; }

.page-title {
  font-size: var(--fontsize-pagetitle);
  font-family: var(--font-headingface);
  line-height: 1.2;
  margin-bottom: 1rem; }

.page-intro {
  margin-bottom: 2rem; }
  .page-intro p:first-child {
    font-size: 1.5em; }

.page-content {
  padding: 0 2rem; }

.postgroup {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--postgroup-item-width), 1fr));
  grid-auto-flow: dense; }
  .postgroup-item figure {
    padding-top: 100%;
    position: relative;
    overflow: hidden; }
  .postgroup-item img {
    object-fit: cover;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%; }
  .postgroup-item-title {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    padding: 2rem;
    color: white;
    transform: translateY(1rem);
    opacity: 0; }
  .postgroup-item img, .postgroup-item-title {
    transition: .15s ease; }
  .postgroup-item:hover img {
    filter: grayscale(100%) brightness(0.2);
    transform: scale(1.2); }
  .postgroup-item:hover .postgroup-item-title {
    transform: translateY(0);
    opacity: 1; }

.post-pagination {
  border-top: .1rem solid black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  background: linear-gradient(to right, black 50%, transparent 50%) center center/0.1rem no-repeat;
  background-size: .2rem; }
  .post-pagination-card {
    padding: 2rem; }
    .post-pagination-card-header {
      display: block;
      font-size: var(--fontsize-suptitle);
      font-weight: bold;
      text-transform: uppercase; }

/**
* Layout
**/
.site {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-gap: 2rem; }
  .site-header {
    background: #ccc;
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .site-title {
    color: black;
    font-weight: bold;
    padding: 2rem;
    text-decoration: none; }
  .site-nav ul {
    display: flex; }
  .site-nav a {
    display: block;
    padding: 2rem;
    color: black;
    text-decoration: none; }
  .site-footer {
    grid-column: 1 / -1;
    padding: 2rem; }

.page {
  grid-column: 1 / -1; }
  @media screen and (min-width: 1200px) {
    .page {
      grid-column: 3 / -3; } }
