/**
* Base styles
**/

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Maven+Pro|Contrail+One|Montserrat');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  ul {
    list-style: none;
  }
}

img {
  display: block;
  max-width: 100%;
  width: auto;
}

a {
  color: var(--link-color);
}

html {
  font-size: 62.5%;
}

body {
  color: var(--base-color);
  font: normal normal 160%/1.7 var(--font-baseface);
}

h1, h2, h3 {
  font-weight: normal;
}

p + p {
  margin-top: 1em;
}
