/**
* Components
**/

.postgroup {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--postgroup-item-width), 1fr));
  &-item {
    figure {
      padding-top: 100%;
      position: relative;
      overflow: hidden;
    }
    img {
      object-fit: cover;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transition: .15s ease;
    }

    &:hover {
      img {
        filter: grayscale(100%);
        transform: scale(1.2);
      }
    }
  }
}