/**
* Layout
**/

.site-header {
  background: transparent url('../assets/header-image.png') top left/ 30rem repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  min-height: 20vh;
}

.site-title {
  color: black;
  font-weight: bold;
  padding: 2rem;
  text-decoration: none;
}

.site-nav {
  ul {
    display: flex;
  }
  a {
    display: block;
    padding: 2rem;
    color: black;
    text-decoration: none;
  }
}

.site-container {
  width: auto;
  max-width: var(--site-maxwidth);
  margin: auto;
  padding: 2rem;
}

.site-footer {
  padding: 2rem;
}