---
layout: default
---

<div class="page-content">
  <h1 class="page-title">{{ page.title | escape }}</h1>
  <div class="page-intro">
    {{ content }}
  </div>
  {%- if site.posts.size > 0 -%}
    <div class="postgroup">
      {% for post in site.posts %}
        <article class="postgroup-item">
          <figure>
            <a href="{{ post.url | relative_url}}">
              <img src="{{ post.image | relative_url}}" />
              <div class="postgroup-item-title">
                <h2>{{ post.title }}</h2>
              </div>
            </a>
          </figure>
        </article>
      {% endfor %}
    </div>
  {%- else -%}
    <p>No posts yet!</p>
  {%- endif -%}
</div>